h1 {
    font-size: 24;
    font-style: italic;
}

body{
    font-family:   Optima;
    color: aliceblue;
    text-align: center; 
    background-color:  rgb(167, 141, 183);
}

img {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
}